
# Base
POST=8080
HOST=0.0.0.0
NAME="Life Time API"
# DEV or PROD
MODE=DEV

# Database
POSTGRES_DB=lifetime_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Auth
AUTH_SECRET_KEY=secret
AUTH_ALGORITHM=RS256
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=15
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=30